.conteudo{
    flex-direction: row;
    display: flex;
   
    width: 1250px;
    height: 200px;
    
    background-color: burlywood;
    justify-content: space-between;
    
    align-items: center;

    position: relative;
    left: 50px;
    top: 50px;
}
.box {
    width: 140px;
    height: 180px;
    background-color: aquamarine;
    
} 