/* Menu Hamburguer */
@media (max-width: 540px) {
  nav {
    display: none;
  }
  .one,
  .two,
  .three {
    background-color: #ffd764;
    height: 5px;
    width: 100%;
    margin: 6px auto;

    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /* FullScreen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: #111111;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-section.on nav {
    display: block;
  }
  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }
  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }
  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }
  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }
  .menu-section.on nav ul {
    text-align: center;
    display: block;
  }
  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 4rem;
    display: block;
  }

  header img {
    width: 130px;
    margin-left: 50px;
    padding: 30px 0;
  }
}

@media (max-width: 824px) {
  .conteudo {
    height: 130px;
  }
  .box {
    width: 100px;
    height: 115px;
  }
  .footer {
    height: 100px;
  }
  header img {
    width: 120px;
    margin-left: 10px;
    padding: 10px 0;
  }

  header nav ul li a {
    font-size: 1.4rem;
    padding: 19px;
  }

  footer .conteiner .item i {
    font-size: 1.8rem;
    padding-right: 15px;
  }

  footer .conteiner .item h2 {
    font-size: 0.9rem;
  }

  footer .conteiner .item h3 {
    font-size: 1.11rem;
  }
  footer .conteiner .item h4 {
    font-size: 1.11rem;
  }
}

@media (max-width: 600px) {
  header img {
    width: 115px;
    margin-left: 5px;
    padding: 4px 0;
  }

  header nav ul li a {
    font-size: 1.1rem;
    padding: 15px;
  }
}
